<footer class="footer">
    <div class="footer-enlaces">
        <div class="footer-lista">
            <div class="logo">
                <ul class="menu-footer">
                    <li>
                        <a routerLink="home"><img class="logo-footer" src="assets/images/logo-pet-blanco.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="inicio-footer">
                <ul class="menu-footer">
                    <li class="footer-item">
                        <a class="footer-link footer-titulo" routerLink="/home">Inicio</a>
                    </li>
                    <li class="footer-item">
                        <a class="footer-link" routerLink="/list-pets">Peludos</a>
                    </li>
                    <li class="footer-item">
                        <a class="footer-link" routerLink="/events">Eventos</a>
                    </li>
                </ul>
            </div>
            <div class="nosotros-footer">
                <ul class="menu-footer">
                    <a class="footer-link footer-titulo" routerLink="/about-us">Nosotros</a>
                    <li class="footer-item">
                        <a class="footer-link" routerLink="/about-us">Quienes</a>
                    </li>
                    <li class="footer-item">
                        <a class="footer-link" routerLink="/about-us">Acerca de</a>
                    </li>
                </ul>
            </div>
            <div class="contacto-footer">
                <ul class="menu-footer">
                    <a class="footer-link footer-titulo" href="#">Contacto</a>
                    <li class="footer-item">
                        <a class="footer-link" href="#">WhatsApp: +57 12345678910</a>
                    </li>
                    <li class="footer-item">
                        <a class="footer-link" href="#">Correo: adopcionmascotagmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="social-footer">
                <ul class="menu-social-footer">
                    <li class="footer-item">
                        <a class="footer-link footer-titulo" href="#">Conecta con nosotros</a>
                    </li>
                    <li class="item item-social">
                        <a href="#" class="red-social-footer" target="_blank"><i
                                class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="item item-social">
                        <a href="#" class="red-social-footer" target="_blank"><i
                                class="fa-brands fa-x-twitter"></i></a>
                    </li>
                    <li class="item item-social">
                        <a href="#" class="red-social-footer" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <h4 class="copy-footer">Copyright © 2024 Juan Sacristán todos los derechos reservados</h4>
        </div>
    </div>
</footer>