<form 
    class="form form-events"
    [formGroup]="formData" 
    (ngSubmit)="onSubmit()"
>
    <h1>events</h1>
    <div class="form-content">
        <div class="field">
            <label for="name">name of events *</label>
            <input type="text" formControlName="name" id="name" placeholder="Ej: name of the events" />
        </div>

        <div class="field">
            <label for="date">date *</label>
            <input type="date" formControlName="date" id="date" placeholder="Ej: date of the events"/>
        </div>

        <div class="field">
            <label for="starttime">start time *</label>
            <input type="time" formControlName="starttime" id="starttime" placeholder="Ej: time start "/>
        </div>

        <div class="field">
            <label for="timeofcompletion">time of completion *</label>
            <input type="time" formControlName="timeofcompletion" id="timeofcompletion" placeholder="Ej: time of completion "/>
        </div>

        <div class="field">
            <label for="place">place *</label>
            <input type="text" formControlName="place" id="place" placeholder="Ej: place of event "/>
        </div>

        <div class="field">
            <label for="descripcion">descripcion *</label>
            <input type="text" formControlName="descripcion" id="descripcion" placeholder="Ej: event description"/>
        </div>
        <div class="field">
            <button class="submit" type="submit">
                <span class="btn-texto">Creart</span>
            </button>
        </div>
    </div>

</form>
