<form 
    class="form form-events"
    [formGroup]="formData" 
    (ngSubmit)="onSubmit()"
>
    <h1 class="form-titulo">Crear evento admin</h1>
    <div class="form-content form-body">

        <!-- Nombre de eventos -->
        <div class="field">
            <!-- <label for="name">Nombre de evento *</label> -->
            <input type="text" formControlName="name" id="name" placeholder="Crear nombre del evento" class="form-input"/>
        </div>

        <div class="field">
            <label for="date" class="titulo-input fechaEvento">Crear fecha del evento *</label>
            <input type="date" formControlName="date" id="date" placeholder="Crear fecha del evento" class="form-input"/>
        </div>

        <!-- Inicio tiempo -->
        <div class="field">
            <label for="starttime" class="titulo-input horaInicio">Hora inicio *</label>
            <input type="time" formControlName="starttime" id="starttime" placeholder="Ej: time start" class="form-input"/>
        </div>

        <!-- Tiempo finalizado -->
        <div class="field">
            <label for="timeofCompletion" class="titulo-input horaFinalizado">Hora finzalizado *</label>
            <input type="time" formControlName="timeofCompletion" id="timeofCompletion" placeholder="Ej: time of completion" class="form-input"/>
        </div>

        <!-- Lugar -->
        <div class="field">
            <!-- <label for="place" class="titulo-input">Lugar *</label> -->
            <input type="text" formControlName="place" id="place" placeholder="Crear un sitio lugar" class="form-input"/>
        </div>

        <!-- Descripcion -->
        <div class="field">
            <!-- <label for="descripcion" class="titulo-input">descripción *</label> -->
            <textarea formControlName="description" id="description" placeholder="Descripción del evento" class="form-input"></textarea>
        </div>

                <!-- Subir imagen mascota -->
                <div class="field input-grupo">
                    <!-- <label for="image">Subir la foto*</label> -->
                    <input type="text" formControlName="urlImage" id="image"  class="form-input" placeholder="Colocar la imagen"/>
                </div>

        <!-- Estado -->
        <div class="field">
            <label for="state" class="titulo-input estado">Estado *</label>
            <select formControlName="state" id="state" class="form-input" >
                <option value="">Seleccione...</option>
                @for (state of states; track $index) {
                    <option [value]="state">{{state}}</option>
                }
            </select>
        </div>
        <div class="field">
            <button class="submit" type="submit" [disabled]="formData.invalid">
                <span class="btn-texto">Crear evento</span>
            </button>
        </div>
    </div>

</form>