<section class="header-tema">
  <div class="header-container container">
    <h1 class="titulo-header">Eventos</h1>
      <div class="figura-header"></div>
  </div>
</section>

@if ( isLoading ) {
  <div>Cargando los eventos...</div>
} 
@else {
  <div class="list-card">
    @if ( events.length === 0) {
      <div class="no-data">No carga los eventos</div>
    } 
    @else {
    }
    @for (item of events; track $index) {
      <div class="card">
          @if(!item.urlImage){
            <img class="card-image" src="assets/images/image-not-found-01.jpg" alt="no se encontró la imagen solicitada">
          }
          @else {
            <img class="card-image" [src]="item.urlImage" [alt]="item.name">
          }
        <p class="card-date">Fecha de evento: {{ item.date }}</p>
        <h4 class="card-name">{{ item.name }}</h4>
        <p class ="card-lugar">Lugar: {{ item.place }}</p>
        <p class ="card-inicio">Hora inicio: {{ item.starttime }}</p>
        <p class ="card-inicio">Hora fin: {{ item.timeofCompletion }}</p>
        <p class="card-descripcion"> {{ item.description }}</p>
      </div>
    }
  </div>
  }