<form 
    class="form form-register"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>
    <h1 class="form-titulo">Editar mascota</h1>

    <div> {{ this.formData.get('username')?.errors | json }} </div>

    <div class="form-container">

    <div class="form-content form-body">

        <!-- Nombre de mascota -->
        <div class="field input-grupo">
            <!-- <label for="name">Nombre*</label> -->
            <input type="text" formControlName="name" id="name" placeholder="Nombre de peludo/a" class="form-input" />
        </div>
        <div class="error">
            @if (this.formData.get('name')?.invalid && (this.formData.get('name')?.dirty || this.formData.get('name')?.touched) ) {
                @if (this.formData.get('name')?.errors?.['required']) {
                    <span>El nombre es obligatorio</span>
                }
            }
        </div>

        <!-- Raza -->
        <div class="field input-grupo">
            <!-- <label for="race">Raza*</label> -->
            <input type="text" formControlName="race" id="race" placeholder="Nombre de raza" class="form-input"/>
        </div>
        <div class="error">
            @if (this.formData.get('race')?.invalid && (this.formData.get('race')?.dirty || this.formData.get ('race')?.touched) ) {
                @if (this.formData.get('race')?.errors?.['required']) {
                    <span>La raza es obligatorio</span>
                }
            }
        </div> 

        <!-- Edad -->
        <div class="field input-grupo">
            <!-- <label for="age">Edad*</label> -->
            <input type="number" formControlName="age" id="age" placeholder="Edad" class="form-input"/>
        </div>

        <!-- Genero -->
        <div class="field input-grupo">
            <label class="titulo-input" for="gender">Genero*</label>
            <!-- <input type="text" formControlName="gender" id="gender" placeholder="Ej: femenino" /> -->
             <select  class="form-input" formControlName="gender" id="gender" >
                <option value="" >Selected...</option>
                @for (gender of genders; track $index) {
                    <option [value]="gender">{{gender}}</option>
                }
             </select>
        </div>

        <!-- Tipo de animal -->
        <div class="field input-grupo">
            <label class="titulo-input" for="typeanimal">Tipo de animal*</label>
            <!-- <input type="text" formControlName="typeanimal" id="typeanimal" placeholder="Ej: perro" /> -->
             <select class="form-input" formControlName="typeanimal" id="typeanimal">
                <option value="">Selected...</option>
                @for (typeanimal of typeanimals; track $index) {
                    <option [value]="typeanimal">{{typeanimal}}</option>
                }
             </select>
        </div>

        <!-- Descripcion -->
        <div class="field input-grupo">
            <!-- <label for="description">Descripción*</label> -->
            <textarea formControlName="description" id="description" placeholder="Descripción" class="form-input"></textarea>
        </div>
        <div class="error">
            @if (this.formData.get('description')?.invalid && (this.formData.get('description')?.dirty || this.formData.get('description')?.touched) ) {
                @if (this.formData.get('description')?.errors?.['required']) {
                    <span>El description es obligatorio</span>
                }
            }
        </div>

        <!-- Subir imagen mascota -->
        <div class="field input-grupo">
            <!-- <label for="image">Subir la foto*</label> -->
            <input type="file" formControlName="image" id="image" accept="image/*" class="form-input"/>
        </div>

        <!-- Estado -->
        <div class="field input-grupo">
            <label class="titulo-input" for="state">Estado*</label>
            <!-- <input type="text" formControlName="state" id="state" placeholder="Ej: femenino" /> -->
             <select class="form-input" formControlName="state" id="state">
                <option value="">Selected...</option>
                @for (state of states; track $index) {
                    <option [value]="state">{{state}}</option>
                }
             </select>
        </div>

        <div class="field">
            <button class="submit" type="submit" [disabled]="formData.invalid">
                <span class="btn-texto">Registro mascota</span>
            </button>
        </div>
        <div class="form-footer">
            <a class="iniciar-sesion" href="#"> ¿Ya tienes una cuenta? <span >Iniciar sesión</span>
            </a>
          </div>
    </div>
</div>
</form>