<form 
    class="form form-type-pets"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>

    <h1 class="form-titulo">Editar de Tipo de mascota</h1>

    <div> {{ this.formData.get('name')?.errors | json }} </div>

    <div class="form-content form-body">
        <div class="field">
            <!-- <label for="name">Nombre de tipo de mascota*</label> -->
            <input type="text" formControlName="name" id="name" placeholder="Nombre de tipo de mascota" class="form-input">
        </div>
        <div class="error">
            @if (this.formData.get('name')?.invalid && (this.formData.get('name')?.dirty || this.formData.get('name')?.touched) ) {
                @if (this.formData.get('name')?.errors?.['required']) {
                    <span>El nombre es obligatorio</span>
                }
            }
        </div>
        <div class="field input-grupo">
            <!-- <label for="description">Descripción*</label> -->
            <textarea formControlName="description" id="description" placeholder="Descripción" class="form-input"></textarea>
        </div>
        <div class="error">
            @if (this.formData.get('description')?.invalid && (this.formData.get('description')?.dirty || this.formData.get('description')?.touched) ) {
                @if (this.formData.get('description')?.errors?.['required']) {
                    <span>El description es obligatorio</span>
                }
            }
        </div>
        <div class="field">
            <button type="submit" [disabled]="formData.invalid" class="submit">
                <span class="btn-texto">Registrar</span>
            </button>
        </div>
    </div>
</form>
