<section class="header-tema">
    <div class="header-container container">
      <h1 class="titulo-header">Admin</h1>
        <div class="figura-header"></div>
    </div>
  </section>

<div class="list-card">
     <div class="card card-admin">
           <img class="card-image-admin" src="assets/images/lista-peludos-admin.jpg" alt="">
           <h4 class="card-name-admin">Lista de peludos/as</h4>
           <a class="btn-card-admin" routerLink="/admin/pets">Ver más</a>
     </div>
     <div class="card card-admin">
        <img class="card-image-admin" src="assets/images/lista-eventos.jpg" alt="">
        <h4 class="card-name-admin">Lista de eventos</h4>
        <a class="btn-card-admin" routerLink="/admin/events">Ver más</a>
    </div>
    <!-- <div class="card card-admin">
      <img class="card-image-admin" src="assets/images/lista-usuarios.jpg" alt="">
      <h4 class="card-name-admin">Lista de usuarios</h4>
      <a class="btn-card-admin" routerLink="/admin/userss">Ver más</a>
    </div> -->
 </div>