<main class="main">
    <section class="peludos-home">
        <div class="peludos-enlace container">
            <div class="info-peludos-home">
                <div class="subtitulo-peludos-home">Peludos/as</div>
                <h1 class="titulo-home">Adopta tu compañero ideal</h1>
                <a routerLink="/list-pets" class="btn-home">Quiero adoptar</a>
            </div>
            <div class="img-peludo-home">
                <img class="evento-imagen-home" src="assets/images/home-peludo.png" alt="">
            </div>
        </div>
    </section>
    <section class="eventos-home">
        <div class="eventos-informacion container">
            <h2>Próximo evento</h2>
            <div class="card-evento-home">
                <div class="card-image-home">
                    <img class="evento-imagen-home" src="assets/images/evento-1.jpg" alt="">
                </div>
                <div class="card-evento-info-home">
                    <div class="card-fecha-evento">8 Noviembre, 2024</div>
                    <h3 class="card-nombre-evento">Nombre de evento</h3>
                    <div class="descripcion-evento">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</div>
                    <a href="#" class="btn-home evento">Ver más</a>
                </div>
            </div>
            <div class="card-evento-home">
                <div class="card-image-home">
                    <img class="evento-imagen-home" src="assets/images/evento-2.jpg" alt="">
                </div>
                <div class="card-evento-info-home">
                    <div class="card-fecha-evento">8 Noviembre, 2024</div>
                    <h3 class="card-nombre-evento">Nombre de evento</h3>
                    <div class="descripcion-evento">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</div>
                    <a href="#" class="btn-home evento">Ver más</a>
                </div>
            </div>
            <div class="card-evento-home">
                <div class="card-image-home">
                    <img class="evento-imagen-home" src="assets/images/evento-3.jpg" alt="">
                </div>
                <div class="card-evento-info-home">
                    <div class="card-fecha-evento">8 Noviembre, 2024</div>
                    <h3 class="card-nombre-evento">Nombre de evento</h3>
                    <div class="descripcion-evento">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</div>
                    <a href="#" class="btn-home evento">Ver más</a>
                </div>
            </div>
            <div class="necesitas-home">
                <h3>¿Necesitas más eventos?</h3>
                <a routerLink="/events" class="btn-home">Ver más</a>
            </div>
        </div>
    </section>
    <section class="historia-home">
        <div class="historia-peludo-home container">
            <div class="card-historia-home">
                <div class="card-historia-image">
                    <img class="image-historia" src="assets/images/historia-perro.jpg" alt="Perro feliz por su hogar">
                </div>
                <div class="card-historia-info">
                    <p class="historia-subtitulo">Descubre cómo otros cambiaron su vida adoptado</p>
                    <h2 class="historia-titulo">¡El proximo éxito puede ser tuyo!</h2>
                    <a href="#" class="btn-home historia">Comparte tu historia</a>
                </div>
            </div>
        </div>
    </section>
    <section class="nosotros-home">
        <div class="quienes-somos container">
            <div class="quienes-somos-image">
                <div class="img-nosotros-home">
                    <img class="nosotros-img" src="assets/images/nosotros.png" alt="nuestro equipo">
                </div>
            </div>
            <div class="quienes-somos-informacion">
                <h2 class="subtitulo-nosotros-home">Quienes Somos</h2>
                <h3 class="titulo-nosotros-home">Trabajo en equipo</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and
                    scrambled it to make a type specimen book.</p>
                <a href="#" class="btn-home">conocer más</a>
            </div>
        </div>
    </section>
    <section class="form-home">
        <div class="form-contacto-home container">
            <form class="formulario">
                <h2>Escribanos para conocer más sobre nuestros peludos</h2>
                    <input class="nombre-form-home" type="text" placeholder="Nombre">
                    <input class="apellido-form-home" type="text" placeholder="Apellido">
                    <input type="email" name="email" class="email-form-home" placeholder="Tu email">
                    <input type="text" class="asunto-form-home" placeholder="Asunto">
                    <textarea name="Mensaje" class="mensaje" placeholder="Mensaje" cols="30" rows="10"></textarea>
                    <input class="btn-form" type="submit" value="enviar">
            </form>
            <div class="img-form-home">
                <img class="form-imagen" src="assets/images/perro-beagle-contacto.jpg" alt="">
            </div>
        </div>
    </section>
</main>