<form 
    class="form form-register"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>
    <h1>Register</h1>

    <div> {{ this.formData.get('username')?.errors | json }} </div>

    <div class="form-container">

    <div class="form-content">
        <div class="field">
            <label for="name">Name*</label>
            <input type="text" formControlName="name" id="name" placeholder="Ej: Juan" />
        </div>
        <div class="error">
            @if (this.formData.get('name')?.invalid && (this.formData.get('name')?.dirty || this.formData.get('name')?.touched) ) {
                @if (this.formData.get('name')?.errors?.['required']) {
                    <span>El nombre es obligatorio</span>
                }
            }
        </div>
        <div class="field">
            <label for="username">Username*</label>
            <input type="text" formControlName="username" id="username" placeholder="Ej: tucorreo@correo.com" />
        </div>
        <div class="error">
            @if (this.formData.get('username')?.invalid && (this.formData.get('username')?.dirty || this.formData.get ('username')?.touched) ) {
                @if (this.formData.get('username')?.errors?.['required']) {
                    <span>El correo es obligatorio</span>
                }
            }
        </div>
        <div class="field">
            <label for="password">Password*</label>
            <input type="password" formControlName="password" id="password" placeholder="Ej: Gbi754Mhcr4"/>
        </div>
        <div class="error">
            @if (this.formData.get('password')?.invalid && (this.formData.get('password')?.dirty || this.formData.get('password')?.touched) ) {
                @if (this.formData.get('password')?.errors?.['required'] ){
                    <span>La contraseña es obligatoria</span>
                }
                @if (this.formData.get('password')?.errors?.['minLength']) {
                    <span>La longitud minima de la contraseña es 6 caracteristicas</span>
                }
                @if (this.formData.get('password')?.errors?.['maxLength']) {
                    <span>La longitud máxima de la contraseña es 12 caracteristicas</span>                    
                }
            }
        </div>
        <div class="field">
            <button type="submit" [disabled]="formData.invalid">Register</button>
            <button type="submit">Sign in to another account</button>
        </div>
    </div>
</div>
</form>