<section class="header-tema">
    <div class="header-container container">
      <h1 class="titulo-header">Nosotros</h1>
        <div class="figura-header"></div>
    </div>
  </section>
  <section class="peludos-nosotros">
    <div class="peludos-enlace-nosotros container">
        <div class="acerca-de">
            <h1 class="titulo-home">Acerca de</h1>
            <p class="parrafo-acerca">En Peludos, creemos que cada mascota merece un hogar lleno de amor, cuidado y respeto. Por eso, creamos una plataforma digital que conecta a personas que ya no pueden cuidar de sus peludos con quienes están listas para brindarles una nueva oportunidad.
              Nuestro sitio facilita el proceso de adopción de manera responsable y transparente. Aquí podrás:</p>
              <div>
                <ul>
                  <li>Registrar mascotas en busca de un nuevo hogar, con toda su información y fotos.</li>
                  <li>Conocer a peludos disponibles para adopción y contactar a sus responsables.</li>
                  <li>Enterarte de eventos y jornadas presenciales de adopción.</li>
                  <li>Registrarte como adoptante y formar parte de una comunidad comprometida con el bienestar animal.</li>
                </ul>
              </div>
              <p>Nuestro objetivo es claro: reducir el abandono, fomentar la adopción responsable y lograr que más peludos encuentren familias que los amen para siempre. Si tú también crees en las segundas oportunidades, esta es tu comunidad.</p>
              
        </div>
        <div class="img-nosotros">
            <img class="img-acerca" src="assets/images/acerca.png" alt="Acerca de">
        </div>
    </div>
</section>
<section class="equipo">
  <div class="peludos-equipo container">
      <div class="seccion-titulo">
          <h1 class="equipo-titulo">Nuestro equipo</h1>
      </div>
      <div class="img-equipo">
          <img class="img-perfil" src="assets/images/Juan.png" alt="Juan el desarrollador web">
          <h3 class="nombre-perfil">Juan</h3>
      </div>
      <div class="img-equipo">
        <img class="img-perfil" src="assets/images/Paula.png" alt="Paula community manager">
        <h3 class="nombre-perfil">Paula</h3>
      </div>
      <div class="img-equipo">
        <img class="img-perfil" src="assets/images/Freddy.png" alt="Freddy ingeniero de sistemas">
        <h3 class="nombre-perfil">Freddy</h3>
      </div>
  </div>
</section>
<section class="form-nosotros">
  <div class="form-contacto-nosotros container">
      <form class="formulario-nosotros">
          <h2>Escribanos para conocer más sobre nuestros peludos</h2>
              <input class="nombre-form-nosotros" type="text" placeholder="Nombre">
              <input class="apellido-form-nosotros" type="text" placeholder="Apellido">
              <input type="email" name="email" class="email-form-nosotros" placeholder="Tu email">
              <input type="text" class="asunto-form-nosotros" placeholder="Asunto">
              <textarea name="Mensaje" class="mensaje" placeholder="Mensaje" cols="30" rows="10"></textarea>
              <input class="btn-form" type="submit" value="enviar">
      </form>
      <div class="img-form-home">
          <img class="form-imagen" src="assets/images/perro-beagle-contacto.jpg" alt="">
      </div>
  </div>
</section>