<form 
    class="form form-login"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>
    <h1 class="form-titulo">Iniciar sesión</h1>

    <div> {{ this.formData.get('username')?.errors | json }} </div>

    <div class="form-content form-body">
        <div class="field">

            <!-- Usuario -->
            <!-- <label for="username">Usuario*</label> -->
            <input class="form-input" type="text" formControlName="username" id="username" placeholder="Correo electronico" />
            <div class="error">
                @if (this.formData.get('username')?.invalid && (this.formData.get('username')?.dirty || this.formData.get('username')?.touched) ) {
                    @if (this.formData.get('username')?.errors?.['required']) {
                        <span>El correo es obligatorio</span>
                    }
                    @if (this.formData.get('username')?.errors?.['email']){
                        <span>Formato de correo invalido</span>
                    }
                }
            </div>
        </div>

        <!-- Contraseña -->
        <div class="field">
            <!-- <label for="password">Contraseña*</label> -->
            <input class="form-input" type="password" formControlName="password" id="password" placeholder="Contraseña"/>
        </div>
        <div class="error">
            @if (this.formData.get('password')?.invalid && (this.formData.get('password')?.dirty || this.formData.get('password')?.touched) ) {
                @if (this.formData.get('password')?.errors?.['required'] ){
                    <span>La contraseña es obligatoria</span>
                }
                @if (this.formData.get('password')?.errors?.['minlength']) {
                    <span>La longitud minima de la contraseña es 6 caracteristicas</span>
                }
                @if (this.formData.get('password')?.errors?.['maxlength']) {
                    <span>La longitud máxima de la contraseña es 12 caracteristicas</span>                    
                }
            }
        </div>
        <div class="field">
            <button type="submit" class="submit">
                <span class="btn-texto" >Iniciar sesión</span>
            </button>
        </div>
    </div>
</form>