<section class="header-tema">
    <div class="header-container container">
      <h1 class="titulo-header">Contacto</h1>
        <div class="figura-header"></div>
    </div>
  </section>
  <section class="form-home">
    <div class="form-contacto-home container">
        <form class="formulario">
            <h2>Escribanos para conocer más sobre nuestros peludos</h2>
                <input class="nombre-form-home" type="text" placeholder="Nombre">
                <input class="apellido-form-home" type="text" placeholder="Apellido">
                <input type="email" name="email" class="email-form-home" placeholder="Tu email">
                <input type="text" class="asunto-form-home" placeholder="Asunto">
                <textarea name="Mensaje" class="mensaje" placeholder="Mensaje" cols="30" rows="10"></textarea>
                <input class="btn-form" type="submit" value="enviar">
        </form>
        <!-- <div class="img-form-home">
            <img class="form-imagen" src="assets/images/perro-beagle-contacto.jpg" alt="">
        </div> -->
    </div>
</section>