<form 
    class="form form-type-pets">
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"

    <h1>Type pets</h1>

    <div> {{ this.formData.get('name')?.errors | json }} </div>

    <div class="form-content">
        <div class="field">
            <label for="name">Name*</label>
            <input type="text" formControlName="name" id="name" placeholder="Ej: perro">
        </div>
        <div class="error">
            @if (this.formData.get('name')?.invalid && (this.formData.get('name')?.dirty || this.formData.get('name')?.touched) ) {
                @if (this.formData.get('name')?.errors?.['required']) {
                    <span>El nombre es obligatorio</span>
                }
            }
        </div>
        <div class="field">
            <label for="name">Description*</label>
            <textarea name="description" id="description"></textarea>
            <input type="text" formControlName="description" id="description" placeholder="Ej: golden retriever">
        </div>
        <div class="error">
            @if (this.formData.get('description')?.invalid && (this.formData.get('description')?.dirty || this.formData.get('description')?.touched) ) {
                @if (this.formData.get('description')?.errors?.['required']) {
                    <span>El description es obligatorio</span>
                }
            }
        </div>
        <div class="field">
            <button type="submit" [disabled]="formData.invalid" >Register</button>
        </div>
    </div>
</form>
