<h1>Lista de peludos</h1>

<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Edad</th>
            <th>Genero</th>
            <th>Tipo de animal</th>
            <th>Descripcion</th>
            <th>imagen</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>Genero</th>
            <th>Tipo de animal</th>
            <th>Descripcion</th>
            <th>imagen</th>
            <th>Estado</th>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>