/* You can add global styles to this file, and also import other style files */

.form-content {
    .error {
        font-size: .8rem;
        height: 1rem;
        color: red;
        font-style: italic;
    }
}

.form {
    position: relative;
    width: 350px;
    padding: 24px;
    margin: 10.5rem auto;
    background-color: #f0f0f0;
    border: 1px solid #E36B20;
    border-radius: 16px;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.05),;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-titulo {
    font-size: 27px;
    font-weight: bold;
    color: #E36B20;
    margin: 0 0 24px;
    text-align: center;
  }
  
  .input-grupo {
    margin-bottom: 16px;
  }

  .titulo-input {
    align-items: center;
    display: flex
;
    justify-content: center;
    color: #E36B20;
}


  
  .form-input {
    width: 80%;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    background: #f8fafc;
    color: black;
    transition: all 0.2s ease;
    display: flex;
    justify-self: center;
  }
  
  .form-input::placeholder {
    color: #b3b3b3;
  }
  
  .submit {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    background: #E36B20;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  
  .form-footer {
    margin-top: 16px;
    text-align: center;
    font-size: 13px;
  }
  
  .iniciar-sesion {
    color: #64748b;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  .iniciar-sesion span {
    color: #E36B20;
    font-weight: bold;
  }
  
  /* Hover & Focus States */
  .form-input:hover {
    border-color: #cbd5e1;
  }
  
  
  .submit:hover {
    background: #b5591c;
    transform: translateY(-1px);
  }
  
  .submit:hover {
    transform: translateY(-5%);
  }
  
  .iniciar-sesion:hover {
    color: #2f2f2f;
  }
  
  .iniciar-sesion:hover span {
    color: #b5591c;
  }
  
  /* Estado de activado BTN */
  .submit:active {
    transform: translateY(0);
    box-shadow: none;
  }
  
  /* Animación */
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    75% {
      transform: translateX(4px);
    }
  }