/** CSS: Table */
.data-table {
  width: 100%;
  border-collapse: collapse;
  }
  
  .data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  }
  
  .data-table th {
  background-color: #f4f4f4;
  }
  
  .data-table tr:hover {
  background-color: #f9f9f9;
  }
  
  button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  }
  
  button:hover {
  background-color: #ddd;
  }
  
  
  :root {
    --overall-font-size: 62.5%;
  }
  
  html {
    font-size: var(--overall-font-size);
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin: 0;
  }
  .btn-user {
      margin: 0 8px;
  }
  
  
  h2 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 1.8rem;
  }
  
  a {
    text-decoration: none;
  }
  .footer {
    display: flex
  ;
    align-items: center;
    justify-content: center;
  }
  
  .menu-social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: .5rem;
  }
  
  .red-social-top {
    color: white;
  }
  
  .header-top {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 2.5rem;
  
    .header-top__content {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;
        gap: .9rem;
    }
  }
  
  .menu-principal {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    align-items: center;
  
    .menu-link {
        color: black;
        font-weight: 600;
    }
  
    .menu-link:hover {
        color: #E36B20;
    }
  }
  
  .logo-home {
    max-height: 100%;
    height: 5rem;
  }
  
  .menu-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;
  
    .menu-usuario-form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
    }
  }
  
  .top-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #D9D9D9;
    align-items: center;
  }
  
  .top-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  
  .peludos-home {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .peludos-enlace {
        display: flex;
        flex-direction: column-reverse;
        gap: 3.4rem;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 88.8%;
        padding: 0;
        height: 45rem;
    }
  
    .subtitulo-peludos-home {
        font-size: 1.5rem;
        color: #E36B20;
        margin: 0;
    }
  }
  .img-peludo-home {
    background-color: #E36B20;
    padding: 8.4rem 10rem 3rem 10rem;
    border-radius: 0 0 20rem 20rem;
  }
  
  
  .titulo-home {
    font-size: 2.5rem;
    margin: 1rem 0 2rem 0;
  }
  
  
  .btn-home {
    color: white;
    background-color: #E36B20;
    border: none;
    padding: 0.7rem 1rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
  
  }
  
  .btn-home:hover {
    color: #E36B20;
    background-color: white;
    border: 1.8px solid #E36B20;
    text-decoration: none;
  }
  
  .eventos-home {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 5rem;
  
    .eventos-informacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0rem;
        gap: 2rem;
        width: 60rem;
    }
  
    .info-peludos-home {
        height: 11rem;
    }
  }
  
  .card-evento-home {
    display: flex;
    border-radius: 1rem;
    height: 18rem;
    box-sizing: border-box;
    gap: 1rem;
    border: 2px solid #E36B20;
    padding: 1rem;
    max-width: 100%;
  }
  
  .card-evento-info-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-fecha-evento {
    font-size: 1.2rem;
    color: #E36B20;
    margin: 0.5rem 0 0 0;
  }
  
  .card-nombre-evento {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
  }
  
  .descripcion-evento {
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
  }
  
  .necesitas-home {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  
  .btn-home.evento {
    display: flex;
    justify-content: center;
    max-width: 9rem;
  }
  
  .card-image-home {
    flex: 0 0 17.7rem;
  }
  
  .evento-imagen-home {
    max-width: 17.7rem;
    max-height: 21rem;
    width: 100%;
    border-radius: 0.4rem;
    object-fit: cover;
    height: 100%;
  }
  
  .historia-home {
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  
  .historia-peludo-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 35rem;
  }
  
  .card-historia-home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E36B20;
    color: white;
    border-radius: 1rem;
    height: 20rem;
    box-sizing: border-box;
    gap: 2rem;
    padding: 1rem;
    max-width: 100%;
    width: 50rem;
  }
  
  .card-historia-image {
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-historia-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .historia-subtitulo {
    margin: 0;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .image-historia {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: 0.4rem;
    object-fit: cover;
  }
  
  .btn-home.historia {
    color: #E36B20;
    background-color: white;
  }
  
  .nosotros-home {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  
    .quienes-somos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 75rem;
        width: 45rem;
    }
  }
  
  img.nosotros-img {
    max-height: 100%;
    height: 35rem;
  }
  .quienes-somos-image {
    background-color: #E36B20;
    padding: 3rem 12rem;
    border-radius: 0 0 28rem 28rem;
    margin: -83px 0 0 0;
  }
  
  .quienes-somos-informacion {
    height: 23rem;
  }
  
  .subtitulo-nosotros-home {
    font-size: 1.5rem;
    color: #E36B20;
    margin: 0;
  }
  
  .form-home {
    background-color: #F8F8F8;
  }
  
  .form-contacto-home {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  
  .formulario {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    max-width: 100%;
    width: 27rem;
    padding: 2rem 7rem;
    margin: 0 0 5rem;
    border-radius: 3rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.08);
  }
  
  .img-form-home {
    max-height: 100%;
    height: 27rem;
  }
  
  .nombre-form-home,
  .apellido-form-home,
  .email-form-home,
  .asunto-form-home,
  .mensaje {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    border-radius: 1.6rem;
    border: 1px solid #D4D4D4;
    padding: 0.6rem;
  }
  
  .btn-form {
    color: white;
    background-color: #E36B20;
    border: none;
    padding: 0.7rem 1rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  
  }
  
  .form-imagen {
    max-height: 100%;
    border-radius: 0 0 25rem 25rem;
  }
  
  .footer-enlaces {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .footer-lista {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-footer {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  
  .logo-footer {
    max-height: 100%;
    height: 5rem;
  }
  
  .footer-link {
    color: white;
  }
  
  .footer-titulo {
    font-weight: bold;
  }
  
  .menu-social-footer {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  
  .social-footer {
    margin: 0 0 4rem 0;
  }
  
  .red-social-footer {
    background-color: white;
    color: #E36B20;
    padding: 0.8rem 1rem;
    border-radius: 5rem;
    transition: 0.4s;
  }

  .red-social-footer:hover{
    transform: translateY(-0.25em);
  }
  
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .copy-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 31rem;
    text-align: center;
    font-weight: normal;
  }
  
  
  .container-fluid {
    /**border: 2px dotted yellow;**/
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  .container {
    /**border: 2px dotted blue;**/
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0.8rem;
    box-sizing: border-box;
    width: 100%;
  }


  /* Enlace Nosotros */
  .header-tema {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-container {
    display: flex
;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;
    margin-left: 20rem;
}

.titulo-header {
    font-size: 4.5rem;
    margin: 1rem 0 2rem 0;
}
.figura-header{
    width: 100%;
    background-color: #E36B20;
    padding: 11rem 0 11rem 0;
    border-radius: 15rem 0 0 15rem;
}

/* Fin de enlace Nosotros */
  
  /** 567px --> 767px */
  @media (min-width: 567px) {
    .container {
        max-width: 54rem;
        padding: 0 1.6rem;
    }
  
    .menu-usuario {
        margin: 0;
    }
  
    .peludos-home {
        .peludos-enlace {
            flex-direction: row;
            gap: 3rem;
            height: 30rem;
        }
    }
    .img-peludo-home {
        background-color: #E36B20;
        padding: 4.5rem 15rem 4.5rem 5rem;
        border-radius: 15rem 0 0 15rem;
    }
  
    .eventos-home {
        .eventos-informacion {
            width: 75rem;
        }
    }
  
    .card-historia-home {
        height: 25rem;
        width: 70rem;
    }
  
    .nosotros-home {
        .quienes-somos {
            flex-direction: row;
            height: 45rem;
            width: 110rem;
        }
    }
    .quienes-somos-image {
        background-color: #E36B20;
        padding: 3rem 12rem;
        border-radius: 0 23rem 23rem 0;
        margin: 0;
    }
  
    img.nosotros-img {
        max-height: none;
        height: none;
    }
  
    .formulario {
        margin: 4rem 0 5rem;
  
    }
  
    .form-contacto-home {
        flex-direction: row;
    }
  
    .img-form-home {
        height: 50rem;
    }
  
    .form-imagen {
        border-radius: 25rem 0 0 25rem;
    }
  
    .footer-lista {
        flex-direction: row;
        align-items: flex-start;
        gap: 7rem;
        padding: 3rem 0;
        margin: 0;
    }
    .footer-enlaces {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .social-footer{
        margin: 0;
    }
    .copy-footer{
        width: 100vw;
    }
  }
  
  /** 768px --> 1023px */
  @media (min-width: 768px) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
  
    .top-menu-nav {
        flex-direction: row;
        justify-content: space-between;
    }
  }
  
  /** 1024px --> 1999px */
  @media (min-width: 1024px) {
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }
  }
  
  /** 1200px --> 1399px */
  @media (min-width: 1200px) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
  }
  
  /** 1400px --> 1599px */
  @media (min-width: 1400px) {
    .container {
        max-width: 132rem;
        padding: 0 4.8rem;
    }
  }
  
  /** 1600px --> 1919px */
  @media (min-width: 1600px) {
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }
  }
  
  /** 1920px --> 2159px */
  @media (min-width: 1920px) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
  }
  
  /** 2160px --> 2459px */
  @media (min-width: 2160px) {
    .container {
        max-width: 176rem;
        padding: 0 7.2rem;
    }
  
  }
  
  /** 2160px --> more */
  @media (min-width: 2560px) {
    .container {
        max-width: 192rem;
        padding: 0 8rem;
    }
  }

  /* Titulo Header */
  .header-titulo{
    margin: 50px 0px 0px 70px;
  }
  
  
  
  /* Formularios */
  .form-content {
      .error {
          font-size: .8rem;
          height: 1rem;
          color: red;
          font-style: italic;
      }
  }
  
  .form {
      position: relative;
      width: 350px;
      padding: 24px;
      margin: 10.5rem auto;
      background-color: #f0f0f0;
      border: 1px solid #E36B20;
      border-radius: 16px;
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.05),;
      font-family: "Montserrat", sans-serif;
      align-items: center;
      display: flex;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .form-titulo {
      font-size: 27px;
      font-weight: bold;
      color: #E36B20;
      margin: 0 0 24px;
      text-align: center;
    }
  
    .input-grupo {
      margin-bottom: 16px;
    }
  
    .titulo-input {
      align-items: center;
      display: flex
  ;
      justify-content: center;
      color: #E36B20;
  }
  
  
  
    .form-input {
      width: 80%;
      height: 40px;
      padding: 0 20px;
      font-size: 14px;
      border: 1px solid #e2e8f0;
      border-radius: 10px;
      background: #f8fafc;
      color: black;
      transition: all 0.2s ease;
      display: flex;
      justify-self: center;
    }
  
    label.titulo-input.fechaEvento {
      margin-top: 14px;
    }
  
    label.titulo-input.horaInicio {
      margin-top: 12px;
    }
  
    label.titulo-input.horaFinalizado {
      margin-top: 12px;
    }
    input#place {
      margin-top: 10px;
    }
  
    label.titulo-input.estado {
      margin-top: 10px;
    }
  
    /* input#starTime{
      padding-right: 100px;
    }
    input#timeOfCompletion{
      padding-right: 100px;
    } */
  
    textarea#descripcion {
      margin-top: 10px;
    }
  
    .form-input::placeholder {
      color: #b3b3b3;
    }
  
    .submit {
      position: relative;
      width: 100%;
      height: 40px;
      margin-top: 8px;
      background: #E36B20;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      transition: all 0.2s ease;
    }
  
    .form-footer {
      margin-top: 16px;
      text-align: center;
      font-size: 13px;
    }
  
    .iniciar-sesion {
      color: #64748b;
      text-decoration: none;
      transition: all 0.2s ease;
    }
  
    .iniciar-sesion span {
      color: #E36B20;
      font-weight: bold;
    }
  
    /* Hover & Focus States */
    .form-input:hover {
      border-color: #cbd5e1;
    }
  
  
    .submit:hover {
      background: #b5591c;
      transform: translateY(-1px);
    }
  
    .submit:hover {
      transform: translateY(-5%);
    }
  
    .iniciar-sesion:hover {
      color: #2f2f2f;
    }
  
    .iniciar-sesion:hover span {
      color: #b5591c;
    }
  
    /* Estado de activado BTN */
    .submit:active {
      transform: translateY(0);
      box-shadow: none;
    }
  
    /* Animación */
    @keyframes shake {
      0%,
      100% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-4px);
      }
      75% {
        transform: translateX(4px);
      }
    }

     /* Cards */
    .list-card{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4.5rem;
      width: 100%;
      flex-wrap: wrap;
      margin: 5rem 0;
    }
    
    .card {
      padding: 20px;
      width: 330px;
      min-height: 370px;
      border-radius: 20px;
      background-color: white;
      transition: 0.4s;
      position: relative;
      border: 1px solid #E36B20;
    }

    .card-register {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .card-pet-register {
    min-height: unset;
}
  
    
    .card:hover {
      translate: 0 -10px;
    
    }
    .card-type {
      font-size: 12px;
      position: absolute;
      top: 25px;
      left: 25px;
      background-color: #E36B20;
      color:white;
      padding: 5px 10px;
      border-radius: 8px;
    }
    .card-name {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 0 10px;
    }
    
    .card-image {
      max-width: 100%;
      width: 100%;
      height: 22rem;
      object-fit: cover;
      background-color: #c9c9c9;
      border-radius: 15px;
    }
    
    .card-race {
      margin: 13px 0px 15px 10px;
      color: rgb(31, 31, 31);
      font-size: 18px;
    }
    
    .card-gender{
      font-size: 13px;
      background-color: #E36B20;
      color: white;
      padding: 3px 10px;
      border-radius: .4rem;
      margin: 1px 230px 0px 7px;
    }

    .btn-card {
      max-width: 100%;
      /* width: 100%; */
      margin: 15px 10px;
      background-color: #E36B20;
      border: none;
      padding: 8px 8px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border-radius: .7rem;
      display: flex;
      justify-content: center;
    }

    button.btn-card {
      width: 94%;
  }

    .btn-register {
      width: 100%;
  }
  
    
    .btn-card:hover {
      background-color: white;
      color: #E36B20;
      border: 1px solid #E36B20;
      padding: 7px 7px;
    }

  



    
    /** Cards */
    /* .cards {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;
      padding: 4rem 0;
  }
  
    .card {
      Add shadows to create the "card" effect
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      max-width: 30%;
      width: 100%;
      border-radius: .6rem;
    }
  
    .card-image {
      max-width: 100%;
      width: 100%;
      height: 22rem;
      object-fit: cover;
      border-radius: .6rem .6rem 0 0;
  }
    
    On mouse-over, add a deeper shadow
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    } */